#configurations
build_number
app_version
api_version
.secrets*
.test_data
*.old/
*.old.py
x_*/
configs
celerybeat-*
.RData
.Rhistory

.output*/
.venv*/
.ssh*/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ignore
# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.coveralls.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Flask stuff:
/*instance*/
.webassets-cache

# pyenv
.python-version

# dotenv
.env*

# virtualenv
/venv*/
/VENV*/
/old_venv*/

# Editors
.idea/

# Logs
/logs*/
logs.txt
/logging_*.conf

# SSL
ssl/

# files for keeping PID
*config.yaml
.*secrets
/app*.pid.old
/app*.pid
/tests/.pytest_cache/
tests/.pytest_cache/
.pytest_cache
examples/
token.pickle
start_gunicorn_in_conda.sh
