[tool.poetry]
name = "mtblsws-py"
version = "2.2.0"
description = ""
authors = ["MetaboLights Team <metabolights-dev@ebi.ac.uk>"]
readme = "README.md"
packages = [
    { include = "app" },
    { include = "scripts" },
    { include = "tests" }
]

[tool.poetry.dependencies]
python = ">=3.12,<3.13"
pydantic = "^2.10.6"
pydantic-settings = "^2.8.1"
flask-restful = "^0.3.10"
toml = "^0.10.2"
metaspace2020 = "^2.0.9"
flask-cors = ">=5.0.1"
flask-mail = "^0.10.0"
celery = ">=5.4.0"
redis = "^6.4.0"
psycopg2 = ">=2.9.10"
zeep = "^4.3.1"
elasticsearch = "^1.4.0"
passlib = "^1.7.4"
cirpy = "^1.0.2"
ctfile = "^0.1.12"
pubchempy = "^1.0.4"
unidecode = "^1.3.8"
chembl-structure-pipeline = "^1.2.2"
rdkit = ">=2024.9.5"
jsonpickle = "^4.0.2"
gspread = "^6.2.0"
owlready2 = "^0.47"
gspread-dataframe = "^4.0.0"
oauth2client = "^4.1.3"
google-api-python-client = "^2.163.0"
jira = "^3.8.0"
boto3 = "^1.37.8"
xmltodict = ">=0.14.2"
cascadict = "^0.8.5"
fuzzywuzzy = "^0.18.0"
marshmallow = "2.21.0"
gunicorn = "^23.0.0"
charset-normalizer = "3.4.1"
email-validator = "^2.2.0"
metabolights-utils = "^1.4.8"
python-levenshtein = "^0.27.1"
pyyaml = "^6.0.3"
pyjwt = "^2.10.1"
flask-restful-swagger = {git = "https://github.com/EBI-Metabolights/flask-restful-swagger.git", rev = "master"}
isatools = {git = "https://github.com/EBI-Metabolights/isa-api.git", rev = "master"}
sqlalchemy = "1.4.54"
python-keycloak = "^5.8.1"

[tool.poetry.group.dev.dependencies]
poetry = "^2.2.1"
pytest = ">=7.4.3"
vulture = "^2.14"
ruff = "^0.13.3"
import-linter = "^2.5"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff.lint]
extend-select = ["E4", "E7", "E9", "F", "I", "G", "SLF", "Q", "T"]
ignore = [ "ANN401"]

fixable = ["ALL"]

[tool.importlinter]
include_external_packages = true
root_packages = ["app"]

[[tool.importlinter.contracts]]
name = "Unexpected dependencies"
type = "forbidden"
source_modules = [
   "app",
]
forbidden_modules = [
    "tweepy",
    "jose",
    "pillow"
]
ignore_imports = [
]
