pandas==0.25.3
numpy==1.18.2
Flask==1.1.2
Flask-RESTful==0.3.8
flask-restful-swagger==0.20.1
Flask-Cors==3.0.8
isatools==0.11.0
mzml2isa==1.0.3
marshmallow==2.21.0
owlready2==0.23
gunicorn==20.0.4
gevent==1.4.0
psycopg2==2.7.7
psycopg2-binary==2.7.7
lxml==4.5.0
jira==2.0.0
pubchempy==1.0.4
cirpy==1.0.2
zeep==3.4.0
pronto==0.12.2
ctfile==0.1.8
pyopenms==2.4.0
gspread==3.4.2
oauth2client==4.1.3
gspread_dataframe==3.0.3
plotly==4.6.0
boto3==1.12.37
pillow==8.2.0
requests==2.23.0
metaspace2020==1.7.2
recommonmark==0.6.0
cython==0.29.16
google-api-python-client==1.8.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
dirsync==2.2.5