#!/bin/bash

REMOTE_SERVER_BASE_PATH="{{ REMOTE_SERVER_BASE_PATH }}"

export SINGULARITY_LOCALCACHEDIR="$REMOTE_SERVER_BASE_PATH/.singularity/cache"
export SINGULARITY_CACHEDIR="$REMOTE_SERVER_BASE_PATH/.singularity/cache"
export SINGULARITY_TMPDIR="$REMOTE_SERVER_BASE_PATH/.singularity/builds"
export DEFAULT_LOCAL_FILE="$REMOTE_SERVER_BASE_PATH/.singularity/default.local"

mkdir -p $SINGULARITY_LOCALCACHEDIR
mkdir -p $SINGULARITY_CACHEDIR
mkdir -p $SINGULARITY_TMPDIR
mkdir -p $DEFAULT_LOCAL_FILE

SINGULARITY_IMAGE_DESCRIPTOR="$REMOTE_SERVER_BASE_PATH/{{ SINGULARITY_IMAGE_DESCRIPTOR }}"
SINGULARITY_IMAGE="${REMOTE_SERVER_BASE_PATH}/$(cat $SINGULARITY_IMAGE_DESCRIPTOR)"
APP_ROOT="{{ DOCKER_APP_ROOT }}"
START_COMMAND="{{ DOCKER_BOOTSTRAP_COMMAND }} ${LSB_JOBNAME} {{ DOCKER_BOOTSTRAP_COMMAND_ARGUMENTS }}" 

# BIND PATHS
LOGS_PATH="{{ LOGS_PATH }}"

mkdir -p $LOGS_PATH

HOME_DIR="{{ HOME_DIR }}"
HOME_DIR_MOUNT_PATH="{{ HOME_DIR_MOUNT_PATH }}"
BINDINGS=()

BINDINGS+=("{{ CONFIG_FILE_PATH }}:$APP_ROOT/config.yaml")
BINDINGS+=("{{ SECRETS_PATH }}:$APP_ROOT/.secrets")
BINDINGS+=("{{ LOGS_PATH }}:$APP_ROOT/logs")
BINDINGS+=("{{ HOME_DIR }}:{{ HOME_DIR_MOUNT_PATH }}")

{% for SHARED_PATH in SHARED_PATHS %} 
BINDINGS+=("{{ SHARED_PATH }}:{{ SHARED_PATH }}")
{% endfor %}

function join { local IFS="$1"; shift; echo "$*"; }

BIND_PARAMS=$(join "|" "${BINDINGS[@]}")
BIND_PARAMS=$(echo "$BIND_PARAMS" | sed "s/|/ -B /g")
if [ ! -z "!BIND_PARAMS" ]; then
    BIND_PARAMS="-B $BIND_PARAMS"
fi

# ENVIRONMENT VARIABLES
ENVIRONMENT_PARAMS="--env PYTHONPATH=$APP_ROOT --env CONFIG_FILE_PATH=$APP_ROOT/config.yaml --env SECRETS_PATH=$APP_ROOT/.secrets"

# EXECUTE SINGULARITY
singularity exec --writable-tmpfs -H $HOME_DIR ${ENVIRONMENT_PARAMS} ${BIND_PARAMS} "${SINGULARITY_IMAGE}" ${START_COMMAND}